@import "tailwindcss";

@theme {
  --color-brand-heading: #e6f7ef;
  --color-brand-muted: #a9abb3;
  --color-panel:#1c2028; 
  /* gray */
}

@layer base {
  html,
  body,
  #root {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: rgb(2 6 23);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
  }
}
